{% extends "base.html" %}

{% block title %} Acceso {% endblock %}

{% block content %}

<h1> Aquí puedes acceder a tu cuenta </h1>

<form action="" method="post" novalidate>

    {{ form.hidden_tag()}}

    {{form.id.label}}
    {{form.id(size=9)}}
    {% for error in form.id.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    <br/>


    {{form.password.label}}
    {{form.password(size=50)}}
    {% for error in form.password.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    <br/>

    {{form.submit}}

</form>

{% endblock %}
