{% extends "base.html" %}

{% block title %} Registrate {% endblock %}

{% block content %}

<h1> Aquí puedes registrarte en nuestra web.  </h1>
<br/>
<br/>

<form action="" method="post" novalidate>

    {{ form.hidden_tag()}}

    {{form.id.label}}
    {{form.id(size=9)}}
    {% for error in form.id.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    </br>

    {{form.name.label}}
    {{form.name(size=50)}}
    {% for error in form.name.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    </br>

    {{form.email.label}}
    {{form.email(size=50)}}
    {% for error in form.email.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    </br>

    {{form.password.label}}
    {{form.password(size=50)}}
    {% for error in form.password.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    </br>

    {{form.descripcion.label}}
    {{form.descripcion(size=1024)}}
    {% for error in form.descripcion.errors %}
    <span style="color: red;">{{error}}</span>
    {% endfor %}
    </br>

    {{form.submit}}

</form>
<br/>
<br/>

{% endblock %}
