{% extends "base.html" %}

{% block title %} Registrate {% endblock %}

{% block content %}

<h1> Aquí puedes registrarte en nuestra web.  </h1>
<br/>
<br/>

<form action="" method="post" >



    <label>DNI: </label>
    <input type="text" id="id" name="id"/><br/>

    <label>Nombre: </label>
    <input type="text" id="nombre" name=""/><br/>

    <label>Correo: </label>
    <input type="text" id="email" name="email"/><br/>

    <label>Contraseña: </label>
    <input type="text" id="password" name="password"/><br/>

    <label>Descripción: </label>
    <input type="text" id="desc" name="desc"/><br/>

    <input type="submit" id="envio_formulario" name="envio_formulario" value="Envía tu registro">

</form>
<br/>
<br/>

{% endblock %}
